@media only screen and (max-width: 720px) and  (max-height: 1600px) { 

  @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Poppins; */
    font-family: sans-serif;
  }
  body, html  {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: black;
  }
  /* .backgroundImage { 
    position: relative;
    background-image: url('https://i.pinimg.com/736x/0d/f0/7d/0df07d88b06f016bbbdc191ac8237f9d.jpg');
    background-size:100vw 100vh;
    background-repeat: no-repeat;
   } */



   .backgroundImage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('https://i.pinimg.com/736x/0d/f0/7d/0df07d88b06f016bbbdc191ac8237f9d.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    opacity: 0.4; 
    z-index: -1; 
  }

  .backgroundImage {
    position: relative; 
    z-index: 1; 
    background-image: url('');
  }
  

   .logo img {
    margin: 10px 20px 17px;
    filter: invert(100%);
    height: 50px;
    cursor: pointer;
  }
  
.logo h3 {
  color: white;
  margin: -29px 4px;
  font-size: 20px;
  cursor: pointer;
  width: 30vw;
}
nav {
  position: sticky;
  z-index: 2;
  top: 0;
  display: flex;
}

nav ul {
  width: 52%;
  height: 43vh;
  display: flex;
  justify-content: right;
  align-items: center;
  margin: 40px 111px;
  flex-direction: column;
  position: absolute;
  bottom: -290px;
  right: -168px;
  background: #00000092;
  /* background-color: #ddd; */
  border-radius: 10%; 
  display: none;
}

nav ul li {
  list-style: none;
  position: relative;
  top: 20%;
  margin: 6px 20px;
  font-size: x-large;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

#one {
  position: relative;
  left: -20px;
}

#two {
  position: relative;
  left: -20px;
}

#three {
  position: relative;
  left: -20px;
}

#four {
  position: relative;
  left: -20px;
}

.btn{
  display: none;
}
nav i::before{
  display: block;
}
nav i{
  position: absolute;
  right: 9px;
  top: 38px;
  font-size: 40px;
}

.btnSign {
  display: block !important;
  position: relative;
  right: -26vw;
  top: -20px;
  margin: 23px 5px;
}


.welcomeModal {
  position: absolute;
  top: 30vh;
  left: 5%;
  width: 90%;
  height: 250px;
}

.welcomeModal h1 {
  position: absolute;
  top: 20px;
  font-size: 30px;
}
.welcomeModal p {
  font-size: 25px;
  color: #658a8a;
}






  
   footer {
    background-color: black;
    color: aliceblue;
    text-align: center;
    align-content: center;
    height: 40px;
    width: 100%;
    position: absolute;
    bottom:0;
    font-family: math;
  }



}