* {
    margin: 0;
    padding: 0;
    font-family: cursive;
    
}
.progress {
    height: 2px;
    background-color: white;
    animation-name: progress;
    animation-duration: 1s;
    }
    
    @keyframes progress {
from {
        width: 0%;
        background-color: red;
    }

100%{
    width: 100%;
background-color: red;
}
    }
header{

    position: sticky;
    z-index: 2;
    top: 0;
}
nav {
    display: flex;
    height: 120px;
    background-color: white;
    font-family: cursive;
}

.logo img {
    margin: 10px 40px;
    /* filter: invert(100%); */
    height: 80px;
    cursor: pointer;
}

.logo h3 {
    color: black;
    margin: -27px 33px;
    font-size: 20px;
    cursor: pointer;
}

.logo h3:hover {
    text-decoration: underline;
    color: aquamarine;
}

.logo img:hover {
    filter: contrast(0.5);
}

nav ul {
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 30px;
}

nav ul li {
    list-style: none;
    margin: 0 20px;
    font-size: x-large;
}

nav ul li a:hover {
    text-decoration: underline;
    font-size: 25px;
    color: rgba(112, 191, 1, 1);
}

a {
    color: black;
    text-decoration: none;
}

#three a {
    color: #00000040;
    text-decoration: underline;
}

button {
    background-color: black;
    color: aliceblue;
    height: 32px;
    margin: 30px 13px;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: lightcoral;
    color: white;
}

.two {
    background-image: url('/trainers/Screenshot\ 2024-06-10\ 091014.png');
    background-size: cover;
    width: 1527px;
    height: 205px;
}

body {
    background-color: rgb(245 244 244);
}

.container h3 {
    text-align: center;
    margin-top: 40px;
    color: #e34b30;
    font-size: 22px;
}

.ourtrainers {
    text-align: center;
    margin-left: 50px;
    font-size: 70px;
    color: #23244e;
    margin-bottom: 100px;
}

.trainers {
    background-color: white;
    display: flex;
    justify-content: center;
}

.img {
    /* border: 2px solid rebeccapurple; */
    width: 90%
}

.img1 {
    position: relative;
    top: -63px;
}

.head {
    position: relative;
    left: 190px;
}

.heading {
    position: relative;
    top: -152px;
    right: 310px;
}

#heading1 {
    text-align: right;
    font-size: xx-large;
    font-family: cursive;
    color: #fc4d00;
    margin-bottom: -16px;
}

#heading2 {
    text-align: right;
    font-size: 57px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #242751;
}

/* .trainer1 {
    display: flex;
    } */
#heading3 {
    float: right;
    font-size: 80px;
    position: relative;
    right: 100px;
    color: #242751;
    font-family: sans-serif;
}

#heading4 {
    float: right;
    position: relative;
    top: 95PX;
    left: 65px;
    color: #fc4d00;
    font-size: larger;
}

.para {
    width: 627px;
    float: right;
    position: relative;
    top: -447px;
}

#para1 {
    font-family: serif;
    line-height: 33px;
    font-size: 18px;
    filter: invert(50%);
}

#para2 {
    font-family: serif;
    line-height: 33px;
    font-size: 18px;
    filter: invert(50%);
}

.trainer2 {
    margin-top: 100px;
    width: 90%;
}

.written {
    margin-top: 124px;
    margin-left: 30px;
}

#heading5 {
    font-size: 80px;
    /* position: relative;
        right: 100px; */
    color: #242751;
    font-family: sans-serif;
}

#heading6 {
    /* position: relative;
            top: 95PX;
            left: 65px; */
    color: #fc4d00;
    font-size: larger;
    margin-top: -9;
}

#para3 {
    text-align: justify;
    margin-top: 25px;
    width: 627px;
    font-family: serif;
    line-height: 33px;
    font-size: 18px;
    filter: invert(50%);
    }
    
    
    #para4 {
        text-align: justify;
       
        width: 627px;
        font-family: serif;
        line-height: 33px;
        font-size: 18px;
        filter: invert(50%);
}

.png2 {
    position: absolute;
    left: 850px;
    top: 1670px;
}
footer{
    background-color: white;
    margin-top: 50px;
}
.foot{
    background-color: black;
    color: aliceblue;
    text-align: center;
    align-content: center;
    height: 40px;
}
